#
#
#
#
# Ignore directories within project-dir
#     - Filepaths are relative to the project-dir where the Git branch is hosted
#         on the local machine
#     - In this case, the project-dir is ~/scidev, so we enter /assets/packages
#         to refer to the directory ~/scidev/assets/packages
# The leading / means that these are subdirectories within project-dir where the .gitignore file is found
# The trailing / means that we are targetting a directory and all it's contents
#
# Exceptions to Ignore Rules
# Starting the line with ! means "Do not ignore this file" those lines must 
#   come AFTER the line which defines the ignore rule
# Ignore all files in assets/packages/*
/assets/packages/*
# EXCEPT for this specific filename:
!/assets/packages/mkdocs-1.4.3.tar.gz
#
# Ignore library directory in the mdovs venv
/envsdir/mdocs/lib/
# Directories in .git/
/.git/branches/
/.git/info/
/.git/logs/
/.git/objects/
/.git/refs/
# Files in .git/
/.git/MERGE*
/.git/.MERGE_MSG.swp
/.git/COMMIT_EDITMSG
/.git/config
/.git/description
/.git/FETCH_HEAD
/.git/HEAD
/.git/index
/.git/ORIG_HEAD
/.git/packed-refs
# Files in .git/hooks
/.git/hooks/*.sample
# Ignore Filetypes
*.pdf
*.mat
# Homebrew File
/Brewfile
# VueBook npm directory
/vuebook/node_modules/
# The node_modules directory in notecards
/notecards/docs/node_modules/
# vuepress-example dir
/vuepress-example/node_modules/