#
#
# Ignore directories withim scidev:
# The leading / means that these are subdirectories within scidev where the .gitignore file is found
# The trailing / means that we are targetting a directory and all it's contents
/assets/packages/
/envsdir/mdocs/lib/
# Directories in .git/
/.git/branches/
/.git/info/
/.git/logs/
/.git/objects/
/.git/refs/
# Files in .git/
/.git/MERGE*
/.git/.MERGE_MSG.swp
/.git/COMMIT_EDITMSG
/.git/config
/.git/description
/.git/FETCH_HEAD
/.git/HEAD
/.git/index
/.git/ORIG_HEAD
/.git/packed-refs
# Files in .git/hooks
/.git/hooks/*.sample
# Ignore Filetypes
*.pdf
*.mat
